#wrap{color: #5486c9;position: relative;overflow: hidden;}
#banner{background-image: url(../img/bg1-1.jpg);width: 100%;height: 917px;text-align: center;position: relative;}
.dragon-left{width: 626px;height: 1044px;position: absolute;top: -30px;animation-delay: .5s;-webkit-animation-delay: .5s;opacity: 0;left: -400px;animation: move1 1s 1s forwards;}
@keyframes move1{
	from{left:-400px;opacity: 0;}
	to{left:-200px;opacity: 1;}
}
.dragon-right{width: 695px;height: 901px;position: absolute;top: -40px;animation-delay: .5s;-webkit-animation-delay: .5s;opacity: 0;right: -200px;animation: move2 1s 1s forwards;}
@keyframes move2{
	from{right: -200px;opacity: 0;}
	to{right: -100px;opacity: 1;}
}
.gold{opacity: 0;transform: scale(0);animation: move3 2s 2s forwards;transform-origin: center;}
@keyframes move3{
	from{opacity: 0;transform: scale(0);transform-origin: center;}
	to{opacity: 1;transform: scale(1);transform-origin: center;}
}
.layer{transition: all 1s;}
.dragonLight{width: 351px;height:169px;background: url(../img/dragon-light.png);position: absolute;top: 267px;left: 390px;}
.gold{background: url(../img/gold.png) no-repeat;width: 2533px;height: 1604px;position: absolute;top: -480px;left: 50%;margin-left: -1266px;animation-delay: 1.7s;-webkit-animation-delay: 1.7s;}
.headLogo{margin: 22px 0 0;text-align: center;font-size: 0;position: relative;transform: translateY(-50px);opacity: 0;animation: move6 1s 1s forwards;}
@keyframes move6{
	from{transform: translateY(-50px);opacity: 0;}
	to{transform: translateY(0px);opacity: 1;}
}
.lolLogo{background: url(../img/head-logo.png) no-repeat;width: 488px;height: 55px;display: inline-block;vertical-align: middle;}
.logo1{display: block;width: 150px;height: 100%;float: left;margin: 0 90px 0 0;cursor: pointer;}
.logo2{display: block;width: 200px;height: 100%;float: left;cursor: pointer;}
.headSponsor{display: inline-block;vertical-align: middle;margin: 0 0 0 45px;color: #fff;font-size: 0;letter-spacing: 5px;}
.headSponsor img{vertical-align: middle;}
.headSponsor span{font-size: 14px;vertical-align: middle;margin-left: 26px;}
.slogan{position: relative;margin: 82px auto 52px;background: url(../img/spr.png) no-repeat 0 -315px;width: 806px;height: 334px;opacity: 0;transform: scale(0);animation: move4 1s 2s forwards;transform-origin: center;}
@keyframes move4{
	from{opacity: 0;transform: scale(0);transform-origin: center;}
	to{opacity: 1;transform: scale(1);transform-origin: center;}
}
.bottom{opacity: 0;transform: translateY(500px);transform-origin: center;animation: move5 1s 3s forwards;}
@keyframes move5{
	from{opacity: 0;transform: translateY(500px);}
	to{opacity: 1;transform: translateY(0px);}
}
.sponsors{font-size: 0;margin: 0 auto 50px;position: relative;background: url(../img/spr.png) no-repeat 0 -654px;width: 747px;height: 57px;}
.sponsors li{display: inline-block;height: 55px;padding: 0 20px;position: relative;}
.sponsors li:after{content: "";display: block;width: 1px;height: 30px;position: absolute;top: 50%;right: 0;background: #213a58;margin-top: -15px;}
.sponsors li div{display: table;height: 100%;}
.sponsors li div p{display: table-cell;vertical-align: middle;}
.sponsors li img{vertical-align: middle;}
.login{color: #295795;font-size: 14px;position: relative;}
#doLogin{color: #a58960;}
.addr{color: #c5c5c5;font-size: 16px;margin: 20px 0 75px;position: relative;}
.timeline{width: 1240px;height: 86px;margin: 0 auto;position: relative;font-size: 0;}
.timeline:before{content: "";display: block;position: absolute;top: 34px;left: 50%;margin: 0 0 0 -620px;background: url(../img/spr.png) no-repeat 0 -716px;width: 1240px;height: 9px;}
.timeline li{display: inline-block;vertical-align: top;margin: 0 84px;position: relative;width: 80px;height: 100%;}
.highlight{position: relative;}
.highlight:before{content: "";position: absolute;top: -20px;left: 26px;display: block;background: url(../img/spr.png) no-repeat 0 -730px;width: 33px;height: 72px;}
.highlight .from{position: absolute;top: -30px;left: -20px;}
.highlight .to{position: absolute;top: -2px;left: 40px;}
.highlight span{color: #a58960;font: italic bold 19px unitedsans;background-image: -webkit-gradient(linear,left 0,right 0,from(#edddc2),to(#aa8e66));-webkit-background-clip: text;-webkit-text-fill-color: transparent;display: block;width: 70px;}
.highlight b{font: 23px fzyans;color: #a58960;background-image: -webkit-gradient(linear,left 0,right 0,from(#edddc2),to(#aa8e66));-webkit-background-clip: text;-webkit-text-fill-color: transparent;padding: 60px 0 0;display: block;}
.btn-ticket{right: -100px;display: block;position: absolute;bottom: -2px;font-size: 12px;line-height: 30px;text-align: center;}
.sellout{color: #5573a7;cursor: default;background: url(../img/spr.png) no-repeat -918px -556px;width: 102px;height: 30px;}
.comming{color: #9fc1fa;cursor: default;background: url(../img/spr.png) no-repeat -918px -556px;width: 102px;height: 30px;}
.normal{position: relative;}
.normal span{color: #6584ae;font: italic bold 12px unitedsans;}
.normal i{display: block;margin: 14px auto;}
.timelinePoint{background: url(../img/spr.png) no-repeat -999px -591px;width: 17px;height: 17px;}
.normal b{color: #6584ae;font-size: 16px;font-weight: 400;}
.timeLineLogo{display: block;position: absolute;top: -40px;left: 24px;background: url(../img/spr.png) no-repeat -889px -591px;width: 31px;height: 32px;}



.main{background: url(../img/bg2.jpg) no-repeat top center;width: 100%;}
.mainInner{width: 1240px;margin: 0 auto;}
.firstAdvt{overflow: hidden;position: relative;display: block;width: 1240px;height: 130px;margin: 0 auto 36px;animation-delay: 2.5s;-webkit-animation-delay: 2.5s;opacity: 0;transform: translateY(100px);animation: advMove 1s 3s forwards;transition: all .5s;}
@keyframes advMove{
	from{opacity: 0;transform: translateY(100px);}
	to{opacity: 1;transform: translateY(0px);}
}
.firstAdvt img{display: block;margin: 0 auto 36px;position: relative;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: "";clear: both;height: 0;}
.mvVideo{width: 720px;float: left;}
.mvRight{width: 486px;height: 520px;float: right;position: relative;}
.primaryTitle{color: #e9f2fe;font: normal 26px fzyans;padding: 0 0 11px 11px;height: 24px;line-height: 24px;position: relative;border-bottom: 3px solid #0c1d33;}
.mvCon{width: 720px;height: 458px;margin: 24px 0 0;background: #000;}
.primaryTitle:before{content: "";display: block;width: 5px;height: 24px;background: #a58960;position: absolute;top: 0;left: 1px;}
#gamaName{color: #a58960;font: 22px unitedsans,'\5FAE\8F6F\96C5\9ED1';}
.schedule{overflow: hidden;display: block;height: 520px;}
.stageType{margin: 24px 0 0;overflow: hidden;}
.stageType a{color: #4c74a6;font-size: 16px;display: block;width: 162px;height: 36px;line-height: 36px;border-bottom: 3px solid #0c1d33;text-align: center;float: left;}
.stageType a:hover{color: #a58960;border-bottom: 3px solid #a58960;}
.stageType .on{color: #a58960;border-bottom: 3px solid #a58960;}
.dayType{margin: 12px 0;overflow: hidden;text-align: center;width: 110%;}
.dayType a{color: #728baf;font-size: 12px;display: block;float: left;width: 53px;height: 26px;line-height: 26px;background: #0a1b33;border: 2px solid #0a1b33;margin: 0 14px 0 0;}
.dayType .on{color: #a58960;border: 2px solid #a58960;}
.matchList{margin: 5px 0 0;height: 365px;overflow: auto;background: #10223b;background: rgba(8,28,51,.5);border: 1px solid #10223b;box-sizing: border-box;display: none;}
.matchList li{width: 100%;height: 71px;border-bottom: 1px solid #0c1d33;position: relative;color: #1d4270;font: 18px unitedsans;}
.matchList::-webkit-scrollbar-thumb{background-color: #a58960;border-radius: 4px;}
.matchList::-webkit-scrollbar{width: 8px;}
.matchList::-webkit-scrollbar-track{background-color: #0c1d33;border-radius: 4px;}
.matchList li .time{margin: 15px 0 0 10px;line-height: 1;}
.matchList li .vs{width: 310px;height: 100%;position: absolute;top: 0;left: 50%;margin: 0 0 0 -155px;}
.matchList li .btns{margin: 8px 10px 0 0;}
.fl{float: left;}
.fr{float: right;}
.team{margin: 14px 0 0;}
.team.fr span{margin: 0 0 0 10px;text-align: right;}
.team.fr img{margin: 0 0 0 10px;}
.team img{display: block;float: left;width: 42px;height: 42px;margin: 0 10px 0 0;}
.team span{display: block;float: left;width: 58px;text-align: left;white-space: nowrap;height: 42px;line-height: 42px;}
.scroe{width: 70px;height: 37px;position: absolute;top: 16px;left: 50%;margin: 0 0 0 -35px;}
.scroe em{color: #2f3a5b;font: 23px Tahoma;display: block;width: 12px;height: 100%;float: left;text-align: center;}
#win{color: white;}
.scroe b{color: #8390b8;font: normal 31px unitedsans;display: block;text-align: center;line-height: 40px;position: relative;background: url(../img/spr.png) no-repeat -786px -654px;width: 29px;height: 37px;}
.btns a{display: block;text-align: center;width: 58px;height: 24px;line-height: 24px;background: #122b4d;color: #5879a5;font-size: 12px;font-family: "\5FAE\8F6F\96C5\9ED1";}
.btns a:hover{background: #a58960;color: #f5e9d4;}
.btnVideo{margin: 0 0 5px;}
.ing{background: url(//game.gtimg.cn/images/lpl/es/2017worlds/ing-scroll.png) repeat 0 0;animation: scheduleIngBg 10s linear infinite;-webkit-animation: scheduleIngBg 10s linear infinite;}
@keyframes scheduleIngBg{
	from{background-position: 0 0}
	to{background-position: -394px 0}
}
.ing:before{content: "";display: block;float: left;width: 8px;height: 100%;background: #255493;}
.ing:after{content: "进行中";display: block;font: 24px fzyans;color: #3a72da;float: right;width: 76px;height: 70px;line-height: 70px;margin: 1px 6px 0 0;text-align: right;opacity: .8;}
.ing .team span{color: white;}
.ing .time{color: #3a72da;font-size: 20px;margin: 14px 0 0 10px;opacity: .8;line-height: 1;}





.share{position: absolute;top: 20px;right: 25px;z-index: 99;animation-delay: 2.5s;-webkit-animation-delay: 2.5s;opacity: 0;transform: translateY(-50px);animation: move7 1s 3s forwards;}
@keyframes move7{
	from{opacity: 0;transform: translateY(-50px);}
	to{opacity: 1;transform: translateY(0px);}
}
.share span{color: #a1b9db;font-size: 14px;vertical-align: middle;}
.sns{display: inline-block;vertical-align: middle;margin-left: 20px;}
.sns a{margin-right: 20px;}
.snsQQ{background: url(../img/spr.png) no-repeat -1253px -556px;width: 24px;height: 24px;float: left;}
.snsSina{float: left;background: url(../img/spr.png) no-repeat -1282px -556px;width: 24px;height: 24px;}
.snsQQ:hover{opacity: 0.7;}
.snsSina:hover{opacity: 0.7;}
